<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bassamalim.athkar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Athkar">

        <activity
            android:name=".activities.AlathkarList"
            android:exported="true"
            android:label="@string/title_activity_alathkar_list"
            android:theme="@style/Theme.Athkar.NoActionBar" />
        <activity
            android:name=".activities.Settings"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AlathkarActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Athkar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.QuranActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Athkar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TvActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Athkar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Splash"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FSVideoActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- VERY IMPORTANT ... CRASHES WITHOUT IT -->
        </activity>

        <receiver
            android:name=".receivers.NotificationReceiver" />
        <receiver
            android:name=".receivers.DailyUpdateReceiver" />
        <receiver
            android:name=".receivers.DeviceBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
        android:name=".widgets.PrayersWidget"
        android:exported="true">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/prayers_widget_info" />
    </receiver>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>